<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{title}}</title>
</head>
<body>
  {% include '../icons/sprite.svg' %}
  <header class="space-between">
    <h1><a href="/">Insta-Idol</a></h1>
    <nav class="flex">
      <label for="grid" class="icon-label">
        <input type="radio" name="view" id="grid" checked>
        <svg>
          <use xlink:href="#grid"></use>
        </svg>
      </label>
      <label for="list" class="icon-label">
        <input type="radio" name="view" id="list">
        <svg>
          <use xlink:href="#list"></use>
        </svg>
      </label>
    </nav>
  </header>

  {{ content | safe }}

  <script src="/js/scripts.js"></script>
</body>
</html>